*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #121D3B;
}

.css-heg063-MuiTabs-flexContainer{
  justify-content: center!important;
}

#explanation{
  color: "white";
  width:"700px"
}

body::-webkit-scrollbar {
  display: none;
}

.authors{
  text-decoration: underline;
  color: whitesmoke;
}

.css-e13as6-MuiFormControl-root-MuiTextField-root{
  background-color: whitesmoke;
  border-radius: 5px;
}

.css-fgawi1:focus-visible{
  outline-width: 0!important;
}

