*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #121D3B;
}

body::-webkit-scrollbar {
  display: none;
}

.css-heg063-MuiTabs-flexContainer{
  justify-content: center!important;
}

#explanation{
  color: "white";
  width:"700px"
}

.authors{
  text-decoration: underline;
  color: whitesmoke;
}

.css-e13as6-MuiFormControl-root-MuiTextField-root{
  background-color: whitesmoke;
  border-radius: 5px;
}

.css-fgawi1:focus-visible{
  outline-width: 0!important;
}

.APODimage{
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .Tabs{
    max-width: 11rem!important;
  }
  .box-query{
    padding:120px 0 20px 0!important;
  }
  .APODimage{
    width: 380px!important;
  }
  .typography-query{
    left: 0%!important
  }
  .box-information-query{
    text-align: left!important;
    text-overflow: clip;
  }
}

@media screen and (max-width: 992px) {
  .APODimage{
    width: 750px!important;
  }
}

@media screen and (max-width: 800px) {
  .APODimage{
    width: 500px!important;
  }
}

@media screen and (max-width: 450px) {
  .Tabs{
    max-width: 9rem!important;
  }
  .APODimage{
    width: 270px!important;
  }
}